<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Usuarios</title>
    <link rel="stylesheet" href="../../statics/css/styles.css">
</head>
<body>
    <header>
        <h1>Consultar Usuarios</h1>
        <nav>
            <a href="../Home.html">Inicio</a>
        </nav>
    </header>

    <main>
        <section id="usersList">
            <h2>Usuarios Registrados:</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del Usuario</th>
                        <th>Nombre de la Mascota</th>
                        <th>Tipo de Mascota</th>
                    </tr>
                </thead>
                <tbody id="userListUl">
                    <!-- Aquí se listarán los usuarios -->
                </tbody>
            </table>
        </section>
    </main>

    <script src="../../statics/js/app.js"></script>
</body>
</html>
