<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Cita Médica</title>
    <link rel="stylesheet" href="../../statics/css/styles.css">
</head>
<body>
    <header>
        <h1>Registrar Cita Médica</h1>
        <nav>
            <a href="../Home.html">Inicio</a>
        </nav>
    </header>

    <main>
        <form id="registerAppointmentForm">
            <label for="userId">Nombre de Usuario:</label>
            <input type="text" id="userId" name="userId" required>

            <label for="appointmentDate">Fecha de la Cita:</label>
            <input type="date" id="appointmentDate" name="appointmentDate" required>

            <button type="submit">Registrar Cita</button>
        </form>
    </main>

    <script src="../../statics/js/app.js"></script>
</body>
</html>
