body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none; /* Sin viñetas */
    padding-left: 0; /* Sin sangría en el inicio */
    display: flex; /* Hacer que los elementos se alineen en una fila */
    /*justify-content: space-around;  Distribuir uniformemente los elementos */
}

nav li {
    list-style-type: none;
    border: 5px;
    border-color: #f4f4f4;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label, input, button, select {
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
