<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria DanMev</title>
    <link rel="stylesheet" href="../statics/css/styles.css">
</head>
<body>
    <header>
        <h1>Veterinaria DanMev</h1>
        <nav>
            <ul>
                <li><a href="../templates/pages/registrarUsuarios.html">Registrar usuario y mascota</a></li>
                <li><a href="../templates/pages/registrarCitaMedica.html">Registrar Citas Médicas</a></li>
                <li><a href="../templates/pages/consultaUsuarios.html">Consultar usuarios</a></li>
                <li><a href="../templates/pages/consultaCitasMedicas.html">Consultar Citas Médicas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Veterinaria DanMev</h1>
            <p>Bienvenidos a la <strong>veterinaria DanMev</strong>, aquí podrá
                registrar usuarios y mascotas, consultar usuarios y consultar citas médicas</p>
        </section>
        <section>
            <ul>
                <li><a href="../templates/pages/registrarUsuarios.html">Registrar usuario y mascota</a></li>
                <li><a href="../templates/pages/registrarCitaMedica.html">Registrar Citas Médicas</a></li>
                <li><a href="../templates/pages/consultaUsuarios.html">Consultar usuarios</a></li>
                <li><a href="../templates/pages/consultaCitasMedicas.html">Consultar Citas Médicas</a></li>
            </ul>
        </section>
    </main>
    <footer>

    </footer>
    
<script src="../statics/js/app.js"></script>
</body>
</html>